

@mixin custombutton($background,$color,$border,$width){
    width: $width;
    height: 40px;
    /* UI Properties */
    background: $background;
    border: 2px solid #D4703D;
    color:$color

}

.check-inputbox {
    text-align: left;
    font: normal normal 600 16px/24px Muli;
    letter-spacing: 0px;
    color: #181C24;
}

.form-group {

    padding: 10px 23px 10px 0px;
    // font: normal normal normal 16px/19px Muli;
// letter-spacing: 0px;
// color: #91959C;
    label {
        text-align: left;
        font: normal normal 600 16px/24px Muli;
        letter-spacing: 0px;
        color: #181C24;
        line-height: 24px;
    }

    input[type="text"]{
        border: 2px solid var(--gray-l2);
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border: 2px solid #B5B7BC;
        border-radius: 8px;
        height: 44px;
        width: -webkit-fill-available;
    }


    
    input[type="text"]:focus {
    outline: none !important;
   // border:1px solid red;
    box-shadow: 0 0 10px #719ECE;
  }


  select {
    border: 2px solid var(--gray-l2);
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 2px solid #B5B7BC;
    border-radius: 8px;
    height: 50px;
        width: -webkit-fill-available;
}



select:focus {
outline: none !important;
// border:1px solid red;
box-shadow: 0 0 10px #719ECE;
}





}


.tranparentbtn{
    @include custombutton( transparent 0% 0% no-repeat padding-box,inherit  !important,2px solid inherit, 347px );

    text-align: center;
    font: normal normal bold 14px/16px Muli;
    letter-spacing: 0px;
    text-transform: uppercase;
}

.whitebtn{
    @include custombutton( #FFFFFF 0% 0% no-repeat padding-box,#D4703D !important,2px solid #D4703D, 347px );
}

.orangebtn{
    @include custombutton( #D4703D 0% 0% no-repeat padding-box,white !important,2px solid #D4703D, 347px );
    text-align: center;
    font: normal normal bold 14px/16px Muli;
    letter-spacing: 0px;
    text-transform: uppercase;
}

.button-show {
    width: 190px;
    height: 40px;

    @include custombutton( #D4703D 0% 0% no-repeat padding-box,white !important,2px solid #D4703D, 190px );

    text-align: center;
    font: normal normal bold 14px/16px Muli;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;        
}