.checkout-title {
    text-align: left;
    font: normal normal 600 36px/30px Source Serif Pro;
    letter-spacing: 0px;
    color: #172026;
    line-height: 30px;
    opacity: 1;
}


.form-section {


    .subhead {
        text-align: left;
        font: normal normal 600 20px/25px Muli;
        letter-spacing: 0px;
        color: #172026;
        line-height: 25px;
        margin: 7px 0px;
    }

    p {
        text-align: left;
        font: normal normal normal 16px/25px Muli;
        letter-spacing: 0px;
        color: #172026;
        line-height: 25px;
    }

    .title {
        text-align: left;
        font: normal normal 600 20px/25px Muli;
        letter-spacing: 0px;
        color: #172026;
        line-height: 25px;
        
    }


    .button-section {}
}


.saved-details-section {
    height: 176px;

    /* UI Properties */
    border: 1px solid #D1D3D6;
    border-radius: 2px;
    opacity: 1;
    .subhead {
        text-align: left;
        font: normal normal 600 16px/20px Muli;
        letter-spacing: 0px;
        color: #172026;
        line-height: 20px;
        margin: 7px 0px;
        width: max-content;

    }


    .left-info {
        .content {
            text-align: left;
            font: normal normal normal 16px/24px Muli;
            letter-spacing: 0px;
            color: #535965;
            line-height: 24px;
            padding: 4px;
            overflow-wrap: break-word;
        }
    }

    .right-info {
        .content {
            text-align: left;
            font: normal normal normal 16px/24px Muli;
            letter-spacing: 0px;
            color: #535965;
            line-height: 24px;
            overflow-wrap: break-word;

        }
    }
}



//===========for phone
@media screen and (max-width: 768px) {

    
    .saved-details-section{
        height: auto;
    }
    }
    
    //=============for tablet
    
    @media screen and (max-width: 1200px) {
        .saved-details-section{
            height: auto;
        }
    }