.top-banner {
    background: #39373729;
    height: 650px;



    .detail-section {

        padding: 50px;

        .title {
            text-align: left;
            font: normal normal 600 48px/60px Source Serif Pro;
            letter-spacing: 0px;
            color: #172026;
            opacity: 1;
            line-height: 60px;
        }

        .subtitle {
            text-align: left;
            font: normal normal normal 16px/24px Muli;
            letter-spacing: 0px;
            color: #172026;
            opacity: 1;
            line-height: 24px;
        }


        .btn-section {
            text-align: left;
            margin-top: 20px;

            button {
                width: 221px;
                height: 40px;
            }

        }
    }


    .image-section {
        img {
            width: -webkit-fill-available;
            height: 650px;
        }
    }



    .phone-details-section {
        padding: 16px;
        position: relative;
        z-index: 1;
        margin-top: 289px;
        background: transparent linear-gradient(181deg, #F1F1F100 0%, #F0F0F0 100%) 0% 0% no-repeat padding-box;
        height: 332px;



        .dot {

            cursor: pointer;
            height: 6px;
            width: 6px;
            margin: 0 2px;
            background-color: #666666;
            border-radius: 50%;
            display: inline-block;
            transition: background-color 0.6s ease;
        }

        .active,
        .dot:hover {
            background-color: #717171;
        }

        .title {
            text-align: center;
            font: normal normal 600 48px/60px Source Serif Pro;
            letter-spacing: 0px;
            color: #172026;
            opacity: 1;
            line-height: 60px;
        }

        .subtitle {
            text-align: center;
            font: normal normal normal 16px/24px Muli;
            letter-spacing: 0px;
            color: #172026;
            opacity: 1;
            line-height: 24px;
        }


        .btn-section {
            text-align: center;
            margin-top: 20px;

            button {
                width: 221px;
                height: 40px;
            }

        }
    }
}

.product-category-card-container {
    width: 235px;
    height: 260px;
    position: relative;
    margin-top: -20px;
    z-index: 1;

    // ==== bg img

    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;

    img {
        width: 260px;
        height: 260px;
        display: none;
    }

    .footer-section {
        height: 65px;
        /* UI Properties */
        background: #1B252CD9 0% 0% no-repeat padding-box;
        opacity: 1;
        position: absolute;
        bottom: 0px;
        width: inherit;
        border-bottom: 6px solid #E26A2C;

        .title {
            text-align: left;
            font: normal normal 600 24px/30px Source Serif Pro;
            letter-spacing: 0px;
            color: #FFFFFF;
            line-height: 30px;
            margin: 5px;
        }

        .sub-title {
            text-align: left;
            font: normal normal normal 16px/23px Muli;
            letter-spacing: 0.32px;
            color: #FFFFFF;
            opacity: 1;
            line-height: 23px;
            margin: 5px;
        }

    }
}

.banner2-section {

    margin-top: 30px;
    text-align: left;




    .banner2-bg-img {
        background-image: url(../assets/img/bannerimg_2.png);
        height: 450px;
        background-position: initial;
        background-repeat: no-repeat;
        background-size: 454px 789px;
        background-color: red;
        background-position-y: -70px;
    }

    .text-section {

        padding: 50px;

        .title {
            font: normal normal 600 48px/60px Source Serif Pro;
            letter-spacing: 0px;
            color: #172026;
            line-height: 60px;
            opacity: 1;
        }

        .subtitle {
            font: normal normal 600 20px/25px Muli;
            letter-spacing: 0px;
            color: #172026;
            line-height: 25px;
            opacity: 1;
        }

        .para {
            font: normal normal normal 16px/24px Muli;
            letter-spacing: 0px;
            color: #172026;
            line-height: 24px;
            opacity: 1;
        }

        .btn-section {
            margin-top: 20px;

            button {
                width: 221px;
                height: 40px;
            }

        }

        hr {
            width: 102px;
            height: 8px;

            background: #E26A2C 0% 0% no-repeat padding-box;
            opacity: 1;
            margin-top: 20px;
            float: left;
            border: none;

        }
    }


    .img-section {

        img {
            width: -webkit-fill-available;

            height: 350px;

        }
    }
}

.banner3-section {

    margin-top: 30px;

    .img-marker {
        position: relative;
        margin-top: -80px;
        margin-right: -51px;
        width: 41px;
        width: 102px;
        height: 72px;
        float: right;

        img {
            width: 33px;
        }

        hr {
            width: 102px;
            height: 8px;
            background: #E26A2C 0% 0% no-repeat padding-box;
            opacity: 1;
            margin-top: 9px;
            float: left;
            border: none;
        }
    }

    .text-section {
        background: #1B252C 0% 0% no-repeat padding-box;
        height: 356px;
        padding: 50px;

        .title {
            text-align: left;
            font: normal normal 600 48px/60px Source Serif Pro;
            letter-spacing: 0px;
            color: #FFFFFF;
            line-height: 60px;
            opacity: 1;
        }

        .subtitle {
            text-align: left;
            font: normal normal 600 20px/25px Muli;
            letter-spacing: 0px;
            color: #FFFFFF;
            line-height: 25px;
            opacity: 1;
        }

        .para {
            text-align: left;
            font: normal normal normal 16px/24px Muli;
            letter-spacing: 0px;
            color: #172026;
            line-height: 24px;
            opacity: 1;
        }

        .btn-section {
            text-align: left;
            margin-top: 20px;

            button {

                text-align: center;
                font: normal normal bold 14px/16px Muli;
                letter-spacing: 0px;
                color: #FFFFFF;
                text-transform: uppercase;
                width: 221px;
                border: 2px solid #FFFFFF;
                border-radius: 10px;
                height: 40px;


            }

        }

        hr {
            width: 102px;
            height: 8px;

            background: #E26A2C 0% 0% no-repeat padding-box;
            opacity: 1;
            margin-top: 20px;
            float: left;
            border: none;

        }
    }


    .img-section {

        img {
            width: -webkit-fill-available;
            height: 430px;
            margin-top: 15px;
            margin-top: 15px;

        }
    }
}


@mixin custombutton($backgroundcolor) {
    background: $backgroundcolor;
    border: 2px solid #D4703D;

    opacity: 1;



}

.orangebtn {
    @include custombutton(#D4703D 0% 0% no-repeat padding-box, );
    color: white;
}

.whitebtn {
    @include custombutton(#FFFFFF 0% 0% no-repeat padding-box);
    color: black
}

.transparent {
    @include custombutton(transparent 0% 0% no-repeat padding-box);
    color: inherit
}

.banner1-bg-img {
    background-image: url(../assets/img/bannerimg_1.png);

    background-size: 836px 1460px;
    height: 650px;
    background-repeat: no-repeat;
    background-position-y: -240px;


}

//===========for phone
@media screen and (max-width: 768px) {
    .product-category-card-container {
        margin-top: 63px;
        width: 343px;
        height: 267px;

    }

    .image-section {
        img {
            height: auto !important;
        }
    }

    .banner2-section {
        text-align: center !important;

        hr {
            text-align: center;
        }
    }

    .banner3-section {



        .img-marker {

            margin-top: -45px;
            width: 102px;
            height: 72px;
            z-index: 1;
            float: initial;
            padding-bottom: 31px;
            margin-left: -352px;

            img {
                float: initial;

            }
        }

        .text-section {

            width: 343px;
            height: 210px;

            margin-top: -80px;

            position: relative;


        }
    }

    .top-banner {
        .banner1-bg-img {

            background-size: 895px 950px;
            height: 650px;
            background-repeat: no-repeat;
            background-position-y: -169px;
            background-position-x: -126px;

        }
    }



    .product-category-card-container {
        margin-top: -46px;
        margin-bottom: 80px;
        width: 343px;
        height: 267px;

        img {
            width: 343px;
            height: 267px;
        }

    }

    .banner2-bg-img {
        background-size: 100% 740px !important;
    }



}

//=============for tablet

@media screen and (max-width: 1200px) and (min-width: 768px) {
    .top-banner {

        .banner1-bg-img {
            background-size: 1310px 870px;
            height: 650px;
            background-repeat: no-repeat;
            background-position-y: -152px;
            background-position-x: -102px;

        }
    }



    .product-category-card-container {
        margin-top: -46px;
        margin-bottom: 80px;
        width: 343px;
        height: 267px;

    }

    .image-section {
        img {
            height: auto !important;
        }
    }

    .banner2-section {
        text-align: center !important;

        hr {
            text-align: center;
        }
    }

    .banner3-section {



        .img-marker {

            margin-top: -45px;
            width: 102px;
            height: 72px;
            z-index: 1;
            float: initial;
            padding-bottom: 31px;
            margin-left: -352px;

            img {
                float: initial;
            }
        }

        .text-section {

            width: 343px;
            height: 210px;
            margin-top: -80px;
            position: relative;
            padding: 50px;

        }
    }



    .product-category-card-container {
        width: 343px;
        height: 267px;

        img {
            width: 343px;
            height: 267px;
        }

    }


    .banner2-bg-img {
        background-size: 100% 740px !important;
    }

}


.home-bg-product-card {
    background-image: url(https://fakestoreapi.com/img/71li-ujtlUL._AC_UX679_.jpg);

}


/* The dots/bullets/indicators */