.order-container {
    border: 1px solid #D1D3D6;
    border-radius: 2px;

    .subhead {
        text-align: left;
        font: normal normal 600 16px/20px Muli;
        letter-spacing: 0px;
        color: #172026;
        line-height: 20px;
    }

    .item-card {

        .img-container {

            img {
                width: 100px;
                height: 120px;
            }
        }

        .detail-container {

            ul {
                list-style: none;
                margin-left: -32px;
                li {
                    text-align: left;
                    font: normal normal normal 16px/24px Muli;
                    letter-spacing: 0px;
                    color: #172026;
                    line-height: 24px;
                    height: 23px;
                    contain: content;

                    span {}
                }
            }
        }
    }

}

.button-section {
    button {
        width: 300px !important;
        height: 40px !important;
    }

    .note {
        text-align: center;
        text-decoration: underline;
        font: normal normal 600 16px/24px Muli;
        letter-spacing: 0px;
        line-height: 24px;

        a {
            text-decoration: underline;
            line-height: 24px;

        }
    }
}