
/*
Price Summay css ===========================================
*/

.summary-card {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 8px #0000000D;
    border: 1px solid #D1D3D6;
    border-radius: 2px;
    padding: 5px;



    .title-section {

        text-align: left;
        font: normal normal 600 20px/25px Muli;
        letter-spacing: 0px;
        color: #172026;
    }


    .containt {
        ul {
            list-style: none;
            margin-left: -34px;

            li {

                display: flex;
                justify-content: space-between;

                text-align: left;
                font: normal normal normal 16px/24px Muli;
                letter-spacing: 0px;
                color: #172026;


            }

            .total {
                text-align: left;
                font: normal normal bold 16px/24px Muli;
                letter-spacing: 0px;
                color: #172026;
            }
        }
    }

    .checkout {

       
        padding-bottom: 10px;
        button {
            width: 247px;
            height: 40px;
            /* UI Properties */
            background: var(--primary-brand) 0% 0% no-repeat padding-box;
            background: #E26A2C 0% 0% no-repeat padding-box;
            border: none;
            text-align: center;
            font: normal normal bold 14px/16px Muli;
            letter-spacing: 0px;
            color: #FFFFFF;
            text-transform: uppercase;
        }
    }

    .pay {
        padding-bottom: 10px;
    }

.center{
    text-align: -webkit-center;
    text-align: center;
}


}


