@import "./filter/_filter.scss";
@import "./product/_product.scss";

.product-head-section {
    height: 44px;

    .filters-flow {
        text-align: left;
        font: normal normal normal 16px/24px Muli;
        letter-spacing: 0px;
        opacity: 1;
    }

    .result {
        text-align: left;
        font: normal normal 600 16px/20px Muli;
        letter-spacing: 0px;
        color: #172026;
        opacity: 1;
        padding-top:18px;
    }

    
    .sort-select{
        padding-top: 18px;
    }

    .select {

        background: #FFFFFF 0% 0% no-repeat padding-box;
        border: 2px solid #B5B7BC;
        border-radius: 8px;
        opacity: 1;

        text-align: left;
        font: normal normal normal 16px/24px Muli;
        letter-spacing: 0px;
        color: #172026;
        opacity: 1;
        height: 44px;
        width: 100%;
    }

}


.filter-option-section {
    a {
        text-align: left;
        text-decoration: underline;
        font: normal normal 600 16px/20px Muli;
        letter-spacing: 0px;
        color: #181C24;
        line-height: 20px;

        img {}
    }
}



.product-banner-section {

    .bannerimg {

        background-image: url(../assets/img/productcategoryBanner.png);
    
        margin-top: 15px;
        margin-bottom: 15px;
        height: 320px;
        background-repeat: no-repeat;
        /* background-position: center; */
        background-size: 1000px 991px;
        /* background-origin: inherit; */
        /* background-position-x: center; */
        background-position-y: -125px;
    }


    .text-section {
        background: #1B252C 0% 0% no-repeat padding-box;
        height: 220px;
        padding: 65px;

        .title {
            text-align: center;
            font: normal normal 600 48px/60px Source Serif Pro;
            letter-spacing: 0px;
            color: #FFFFFF;
            line-height: 60px;
            opacity: 1;
        }

        .subtitle {
            text-align: left;
            font: normal normal 600 20px/25px Muli;
            letter-spacing: 0px;
            color: #FFFFFF;
            line-height: 25px;
            opacity: 1;
        }

        .para {
            text-align: left;
            font: normal normal normal 16px/24px Muli;
            letter-spacing: 0px;
            color: #172026;
            line-height: 24px;
            opacity: 1;
        }

        .btn-section {
            text-align: left;
            margin-top: 20px;

            button {

                text-align: center;
                font: normal normal bold 14px/16px Muli;
                letter-spacing: 0px;
                color: #FFFFFF;
                text-transform: uppercase;
                width: 221px;
                border: 2px solid #FFFFFF;
                border-radius: 10px;
                height: 40px;


            }

        }

        hr {
            width: 102px;
            height: 8px;

            background: #E26A2C 0% 0% no-repeat padding-box;
            opacity: 1;
            margin-top: 20px;
        }
    }


    .img-section {

        img {
            width: -webkit-fill-available;
            height: 430px;
            margin-top: 15px;
            margin-bottom: 15px;
        }
    }
}




//===========for phone
@media screen and (max-width: 768px) {

    .result {
        text-align-last: center !important;
        padding-top:0px;

    }

   

    .product-banner-section {


        .bannerimg {

            margin-top: 0px;
    margin-bottom: 0px;
    height: 305px;
    background-repeat: no-repeat;
    background-size: 100% 650px;
    background-position-y: -81px;
        }


        .text-section {
            width: -webkit-fill-available;
            height: 159px;
            margin-top: -60px;
            position: relative;
            margin-left: 15px;
            margin-right: 15px;

        }

        .img-section {

            img {
                margin-top: 0px;
                margin-bottom: 0px;
            }
        }
    }

}


//=============for tablet

@media screen and (max-width: 1200px) {
    .result {
        text-align-last: center !important;
        padding-top:0px;

    }




   

    .product-banner-section {


        .bannerimg {

            margin-top: 0px;
    margin-bottom: 0px;
    height: 305px;
    background-repeat: no-repeat;
    background-size: 100% 650px;
    background-position-y: -81px;
        }


        .text-section {
            width: -webkit-fill-available;
            height: 159px;
            margin-top: -60px;
            position: relative;
            margin-left: 15px;
            margin-right: 15px;

        }

        .img-section {

            img {
                margin-top: 0px;
                margin-bottom: 0px;
            }
        }
    }




}
