@mixin custombutton($backgroundcolor, $color) {
    background: $backgroundcolor;
    border: 2px solid #D4703D;
    color: $color,



}


.summary-card{
    padding: 10px;
}

.sign-section {


    .details{
        text-align: left;
        font: normal normal 600 20px/25px Muli;
        letter-spacing: 0px;
        color: #172026;
        line-height: 25px;
    }

    .btn-section {

        button {
            background: #FFFFFF 0% 0% no-repeat padding-box;
            border: 2px solid #D4703D;
            width: 150px;
            height: 40px;

            text-align: center;
            font: normal normal bold 14px/16px Muli;
            letter-spacing: 0px;
            text-transform: uppercase;
            line-height: 16px;
        }


        .orangebtn {
            @include custombutton(#D4703D 0% 0% no-repeat padding-box, white);
        }

        .whitebtn {
            @include custombutton(#FFFFFF 0% 0% no-repeat padding-box, black);
        }

        .transparent {
            @include custombutton(transparent 0% 0% no-repeat padding-box, #D4703D);
        }
    }
}