.app-header {


    height: 60px;
    align-items: center;
    justify-content: right;
    background: #E26A2C 0% 0% no-repeat padding-box;
    opacity: 1;
    color: white;


    .nav-button {
        height: 60px;
        background: none;
        border: none;
        color: white;

    }

    .head-log {
        font-size: 30px;
        text-align: left;
        // font-weight: bold;
        color: white;
        letter-spacing: 0px;

        margin-block-start: 0.2em;

    }

    .menu {

        ul {
            list-style: none;
            display: flex;
            justify-content: center;

            li {
                height: 30px;
                color: white;

                a {
                    text-align: left;
                    font: normal normal 600 16px/24px Muli;
                    letter-spacing: 0px;
                    opacity: 1;
                    padding: 10px;
                    text-decoration: none;  
                      color: white;

                }

            }
        }

    }


    .right-nav {
        ul {
            list-style: none;
            display: flex;
            justify-content: right;

            li {
                height: 30px;
                color: white;

                a {
                    text-align: left;
                    font: normal normal 600 16px/24px Muli;
                    letter-spacing: 0px;
                    color: white;
                    opacity: 1;
                    padding: 10px;
                    text-decoration: none;
                }

            }
        }
    }

    .badge {
        color: white;
        text-align: center;
        position: absolute;
        margin-top: -22px;
        margin-left: 25px;
        padding: 3px;
        border-radius: 50%;
        height: 14px;
        width: 14px;
        line-height: 14px;
        background: #FDA65D 0% 0% no-repeat padding-box;
    }

}



.head-phonenav {
    position: absolute;
    height: 0vh;
    width: 0%;
    transition: width 2s;
    white-space: nowrap;
    content-visibility: auto;
    background-color: white;
    z-index: 5000;
        top: 0;
    nav {
        height: 67%;
    }

    .header {
        text-align: left;
        font: normal normal 600 16px/20px Muli;
        letter-spacing: 0px;
        color: #172026;
        padding: 7px;
        display: flex;
        justify-content: space-between;
        background: #FAFAFA 0% 0% no-repeat padding-box;
        border-bottom: 1px solid #E5E5E7;

        a {
            text-decoration: none;
            color: #172026;

        }
    }


    ul {

        list-style: none;

        margin-left: -10px;
        margin-right: 30px;

        li {
            padding: 5px;
            // border-bottom: 1px solid #E5E5E7;

            a {
                text-align: left;
                font: normal normal normal 16px/24px Muli;
                letter-spacing: 0px;
                color: #172026;
                opacity: 1;
                text-decoration: none;
            }

        }
    }

    .bottom-section {
        background: #FFFFFF 0% 0% no-repeat padding-box;
        padding: 15px;
        border-top: 1px solid #E5E5E7;

        .bottom-footer {
            display: flex;
            justify-content: space-between;

            a {
                text-align: left;
                font: normal normal normal 16px/24px Muli;
                letter-spacing: 0px;
                color: #172026;
                vertical-align: text-bottom;
            }
        }

    }
}