.filters {


    .clear-all-section{
        padding: 10px;
        a{
            text-align: right;
        text-decoration: underline;
        font: normal normal 600 14px/24px Muli;
        letter-spacing: 0px;
        color: #181C24;
        line-height: 24px;
        }
    }
    .head {
        text-align: left;
        font: normal normal normal 20px/14px Muli;
        letter-spacing: 0px;
        color: #181C24;
        line-height: 24px;
        opacity: 1;
    }

    .filter-section {

        .title {
            text-align: left;
            font: normal normal 600 16px/24px Muli;
            letter-spacing: 0px;
            color: #181C24;
            line-height: 24px;
            opacity: 1;
            

        }

        ul {

            margin-left: -32px;
            list-style: none;

            li {
                text-align: left;
                font: normal normal normal 16px/22px Muli;
                letter-spacing: 0px;
                color: #181C24;
                line-height: 22px;
                opacity: 1;
            }
        }
    }
}


.absolute-postion {
    position: fixed;
        z-index: 191;
    background: white;
    top: 0px;

    .filter-container {
        overflow-y: scroll;
        height: 100%;

        .color-section {

            width: 100%;
            white-space: pre-wrap;

        }
    }
}

.phonenav {
    position: fixed;
    right: 0;
    height: 0vh;
    width: 0%;
    transition: width 2s;
    white-space: nowrap;
    content-visibility: auto;
    z-index: 1;
    nav {
        height: 67%;
    }

    .header {
        text-align: left;
        font: normal normal 600 16px/20px Muli;
        letter-spacing: 0px;
        color: #172026;
        padding: 7px;
        display: flex;
        justify-content: space-between;
        background: #FAFAFA 0% 0% no-repeat padding-box;
        border-bottom: 1px solid #E5E5E7;

        a {
            text-decoration: none;
            color: #172026;

        }
    }


    ul {

        list-style: none;

        margin-left: -10px;
        margin-right: 30px;

        li {
            padding: 5px;
            // border-bottom: 1px solid #E5E5E7;

            a {
                text-align: left;
                font: normal normal normal 16px/24px Muli;
                letter-spacing: 0px;
                color: #172026;
                opacity: 1;
                text-decoration: none;
            }

        }
    }

    .bottom-section {
        background: #FFFFFF 0% 0% no-repeat padding-box;
        padding: 15px;
        border-top: 1px solid #E5E5E7;

        .bottom-footer {
            display: flex;
            justify-content: space-between;

            a {
                text-align: left;
                font: normal normal normal 16px/24px Muli;
                letter-spacing: 0px;
                color: #172026;
                vertical-align: text-bottom;
            }
        }

    }
}

.btn-section {


 
    text-align: -webkit-center;
    text-align:center

}