.form-section {
    .title {
        text-align: left;
        font: normal normal 600 20px/25px Muli;
        letter-spacing: 0px;
        color: #172026;
        line-height: 25px;
        padding: 15px 0px 15px 0px;
    }


    .button-section {}


    .list-section {

        ul {
            list-style: none;

            li {
                text-align: left;
                letter-spacing: 0px;
                color: #172026;
                line-height: 24px;

                input{
                    border: 2px solid var(--primary-brand);
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 2px solid #E26A2C;
opacity: 1;
                }
            }
        }
    }
}



.saved-details-section {
    margin:13px;

    height: 176px;
    /* UI Properties */
    border: 1px solid #D1D3D6;
    border-radius: 2px;
    opacity: 1;
    width: initial;
    .subhead{
                text-align: left;
font: normal normal 600 16px/20px Muli;
letter-spacing: 0px;
color: #172026;
line-height: 20px;
margin: 7px 0px;
width: max-content;


    }
    .left-info {
        .content {
            text-align: left;
            font: normal normal normal 16px/24px Muli;
            letter-spacing: 0px;
            color: #535965;
            line-height: 24px;
            padding:4px;
            overflow-wrap: break-word;
        }
    }

    .right-info {
        .content {
            text-align: left;
            font: normal normal normal 16px/24px Muli;
            letter-spacing: 0px;
            color: #535965;
                        line-height: 24px;
                        overflow-wrap: break-word;

        }
    }
}



//===========for phone
@media screen and (max-width: 768px) {

    
    .saved-details-section{
        height: auto;
    }
    }
    
    //=============for tablet
    
    @media screen and (max-width: 1200px) {
        .saved-details-section{
            height: auto;
        }
    }