.form-section {
    .title {
        text-align: left;
        font: normal normal 600 20px/25px Muli;
        letter-spacing: 0px;
        color: #172026;
        line-height: 25px;
    }


    .button-section {}


    .list-section {

        ul {
            list-style: none;

            li {
                text-align: left;
                letter-spacing: 0px;
                color: #172026;
                line-height: 24px;

                input{
                    border: 2px solid var(--primary-brand);
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 2px solid #E26A2C;
opacity: 1;
                }
            }
        }
    }
}