
/*
Added Products=====
*/

.productcontainer {
    margin-bottom: 12px;

    .image-container {

        img {
            width: -webkit-fill-available;
            height: 199px;
        }


    }

    .details {
        .title-section {
            text-align: left;
            font: normal normal 600 18px Muli;
            letter-spacing: 0px;
            color: #172026;
            line-height: 18px;
        
        }

        .sub-section {
            text-align: left;
            font: normal normal normal 16px Muli;
            letter-spacing: 0px;
            color: #172026;
            line-height: 26px;
            span{
                padding-right: 6px;
                font: normal normal normal 16px Muli;
            }
        }
    }



    .quantitycontainer {

        .quntity-section {

            .title-section {
                text-align: left;
                font: normal normal 600 20px/30px Muli;
                letter-spacing: 0px;
                color: #172026;
            }

            input {
                width: 34px;
                border: 2px solid var(--gray-m1);
                background: #FFFFFF 0% 0% no-repeat padding-box;
                border: 2px solid #91959C;
                border-radius: 8px;
                width: 114px;
                height: 40px;
                margin-left: 9px;
                margin-right: 9px;
                text-align: center;
            }

            button {
                border-radius: 50%;
                background: #EAEBEB 0% 0% no-repeat padding-box;
                border: 2px solid #B5B8BA;

                text-align: center;
                font: normal normal 600 16px/20px Muli;
                letter-spacing: 0.32px;
                color: #545D63;

                width: 32px;
                height: 32px;
            }
        }



    }


    .edit-section {


        ul {
            list-style: none;
            margin-left: -36px;

            li {
                padding: 7px;
                a {

                   
                    text-decoration: none;

                }

                span{
                    vertical-align: super;
                    text-align: left;
                    font: normal normal 600 12px/14px Muli;
                    letter-spacing: 0px;
                    color: #172026;
                }
            }


        }
    }
}