.product-container{


    .body{
        img{
            width: -webkit-fill-available;
            height: 300px;
        }
    }
    .footer{


        .title{
            text-align: left;
            font: normal normal bold 18px/20px Muli;
            letter-spacing: 0px;
            color: #172026;
            line-height: 20px;
            opacity: 1;
        }
        .price{
            text-align: left;
            font: normal normal 600 16px/20px Muli;
            letter-spacing: 0px;
            color: #172026;
            line-height: 20px;

            opacity: 1;
        }

        .favourite{
           img{

           }
        }
    }

    
}