.product-container{
    background-color: white;
    margin:15px;
    width: 219px;
    .body{
        text-align: center;
        img{
            width: 219px;
            height: 273px;
            mix-blend-mode: multiply;
        }
    }
    .footer{


        .title{
            text-align: left;
            font: normal normal bold 18px/20px Muli;
            letter-spacing: 0px;
            color: #172026;
            line-height: 20px;
            content-visibility: auto;
            opacity: 1;
            height: 23px;
            margin-top: 7px;
        
        }
        .price{
            text-align: left;
            font: normal normal 600 16px/20px Muli;
            letter-spacing: 0px;
            color: #172026;
            line-height: 20px;

            opacity: 1;
        }

        .favourite{
            margin-top: 7px;
            text-align: left;
           img{

           }
        }
    }

    
}





//===========for phone
@media screen and (max-width: 768px) {

    
.product-container{
    .body{
    img{
        width: 164px;
        height: 196px;
    }

}
}
}

//=============for tablet

@media screen and (max-width: 1200px) {
   
}